* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  /* align-items: center; */
}

.dark {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("src/assets/images/films.jpg");
}

.light {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("src/assets/images/films.jpg");
}

#root {
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }

  header {
    margin: 2.5rem 1.5rem 0 1.5rem;
  }

  .app-name h1 {
    font-size: 20px;
  }

  .app-name img {
    width: 2rem;
    height: 2rem;
  }

  .app-profile button {
    padding: 0.5rem;
  }

  .app-profile button ion-icon {
    font-size: 20px;
  }

  .app-profile .btn-logout span {
    display: none;
  }

  .sign-in-form h2 {
    font-size: 20px;
  }

  .login-container {
    margin: 10rem auto;
  }

  .forget-password {
    margin-bottom: 4rem;
  }

  .footer-container {
    margin: 0 2rem;
  }

  .footer-container p {
    font-size: 13px;
  }

  .footer-container ul {
    font-size: 10px;
  }

  .flex-row {
    gap: 1rem;
  }

  .movie-input-container {
    margin: 4rem 1.5rem;
  }

  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .login-container {
    margin: 10rem 2rem;
  }

  .sign-in-form {
    margin: 0 3rem;
  }
}
