* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #8FA8C1;
  line-height: 1;
  padding: 1rem;
  min-height: 100vh;
  background-image: radial-gradient(circle, #000000, #10060d, #170d19, #161525, #091c32);
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
