* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  padding: 1rem;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #c0d1d1, #9dd1bb, #9eca8a, #c1b951, #f29a31);
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
